* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-color: #4caf4f;
  --white-color: #ffffff;
  --gray-color: #4d4d4d;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

html {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #f5f7fa;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: calc(100% - 100px);
  margin: auto;
}

.logo {
  width: 154px;
  height: 24px;
  display: inline-block;
}

nav a {
  margin-right: 50px;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 24px;
}

.action-group a {
  text-decoration: none;
}

.green-btn {
  display: inline-block;
  background-color: var(--green-color);
  padding: 10px 20px;
  color: var(--white-color);
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
}

.login-link {
  color: #4caf4f;
  font-size: 14px;
  line-height: 20px;
  margin-right: 14px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: #f5f7fa;
}
.lessons {
  max-width: 50%;
}
.logo-lesson {
  width: 391px;
  height: 407px;
}
h1 {
  font-size: 50px;
  color: #4d4d4d;
}
span {
  color: #4caf4f;
}
p {
  color: #717171;
  font-size: 12px;
  padding-top: 15px;
}
button {
  display: inline-block;
  background-color: #4caf4f;
  padding: 10px 20px;
  color: var(--white-color);
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: none;
}
.client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: #f5f7fa;
}
.our-client {
  text-align: center;
}
.title {
  font-size: 30px;
  color: #4d4d4d;
}
.title-client {
  font-size: 16px;
  color: #717171;
  padding-top: 5px;
}
.fontour h1 {
  font-size: 36px;
  line-height: 44px;
}
.fontour-2 p {
  font-size: 16px;
  line-height: 24px;
}
.client-logos img {
  width: 48px;
  height: 48px;
  margin: 10xp 60px;
}
.client-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  gap: 20px;
}
.client {
  display: block;
  text-align: center;
  padding: 80px 50px;
}
.icon img {
  width: 56px;
  height: 65px;
}
.manage h1 {
  font-size: 28px;
  line-height: 36px;
}
.manage p {
  font-size: 14px;
  line-height: 20px;
}
.fontmanage {
  padding-top: 15px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  box-shadow: 0px 0px 1px rgba(175, 171, 171, 0.5);
  border-radius: 8px;
}
.manage .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}
.unlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  max-width: calc(100% - 150px);
  margin: auto;
}
.unlock .lessons h1 {
  font-size: 36px;
}
.unlock .lessons p {
  font-size: 14px;
}
.left h1 {
  font-size: 36px;
  color: #4d4d4d;
  line-height: 40px;
}
.left span {
  color: #4caf4f;
}
.left p {
  font-size: 16px;
  color: #18191f;
}
.icon-achi img {
  width: 48px;
  height: 48px;
  padding-right: 10px;
}
.icon-achi {
  display: flex;
  align-items: center;
  padding: 30px 40px;
}
.oneside h1 {
  font-size: 28px;
  line-height: 36px;
  color: #4d4d4d;
}
.oneside p {
  font-size: 16px;
  line-height: 1px;
  color: #717171;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}
.starts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: calc(100% - 200px);
}
.achievement {
  background-color: #f5f7fa;
}
.community {
  padding: 60px 80px;
  background-color: #f5f7fa;
}
.container {
  display: flex;
  align-items: center;
  max-width: calc(100% - 50px);
  margin: auto;
  gap: 50px;
}
.logo-community img {
  width: 326px;
  height: 326px;
  border-radius: 12px;
  display: block;
}
.read p {
  font-size: 16px;
  line-height: 24px;
  color: #717171;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  color: #4caf4f;
}
.community .client-logos img {
  width: 30px;
  height: 30px;
}
